// poppins-light
@font-face {
  font-family: "poppins";
  src: url(../../public/fonts/Poppins-Light.ttf) format("truetype");
  font-display: swap;
  font-weight: 100;
}
// poppins-regular
@font-face {
  font-family: "poppins";
  src: url(../../public/fonts/Poppins-Regular.ttf) format("truetype");
  font-display: swap;
  font-weight: 200;
}
// poppins-medium
@font-face {
  font-family: "poppins";
  src: url(../../public/fonts/Poppins-Medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 300;
}
// poppins-semibold
@font-face {
  font-family: "poppins";
  src: url(../../public/fonts/Poppins-SemiBold.ttf) format("truetype");
  font-display: swap;
  font-weight: 400;
}
// poppins-bold
@font-face {
  font-family: "poppins";
  src: url(../../public/fonts/Poppins-Bold.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
}
