* {
  box-sizing: border-box;
  font-family: "poppins";
  font-weight: 200;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: 0;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
