@import "../../global-styles/global.scss";

.accelerationWrapper {
  width: 60%;
  margin: 0px auto 60px;

  @include minipc {
    width: 80%;
  }
  .accelerationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contentWrapper {
      width: 47%;
    }
    .processContainer {
      width: 50%;
    }

	@include tablet {
		flex-direction: column;
		row-gap: 20px;
  
		.contentWrapper {
		  width: 100%;
		}
		.processContainer {
		  width: 100%;
		}
	  }
  }
}
